
<div class="jumbotron center">


  <div>
  	<img src="http://meincasino.mrgreen.com/wp-content/uploads/blogger/-o36Yrbl-p3M/T5UsxVQTR0I/AAAAAAAAAEQ/VMugQ-A_3Ds/s1600/Scarface_Video+Slot_The+world+is+yours_www.MrGreen.com.png" class="img-responsive" class="center-block" alt="Responsive image">
  </div>

	<h1></h1>
	<% if user_signed_in? %>
      WELCOME
    <% else %>
		<p>
			<%= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-lg" %>
       		<%= link_to "Join", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		
		</p>
	<% end %>
</div>