<div class="jumbotron">
  <h1>Pay Me</h1>
	<p>Prepare to pay us for our wonderful services.  Soon.</p>

	<div>
  	<img src="http://s3.amazonaws.com/thumbnails.illustrationsource.com/huge.2.10615.JPG" class="img-responsive" class="center-block" class="img-rounded" alt="Responsive image">
  	</div>

  	<h1></h1>

	<div>
  	<img src="http://static1.businessinsider.com/image/52124584ecad041839000018-1200-706/huell%20money%20breaking%20bad.jpeg" class="img-responsive" class="center-block" class="img-rounded" alt="Responsive image">
  </div>
</div>